@tailwind base;
@tailwind components;
@tailwind utilities;

.watermark {
  position: absolute;
  bottom: 0px;
  right: 4em;
  width: 100px;
  opacity: 0.4;
  pointer-events: none; 
  z-index: 10; 
  white-space: nowrap;
}

.modal-box {
  height: auto;
  overflow-y: visible;
  border: 0;
  box-shadow: none;
  position: relative;
  max-height: 100%;
}

.box-drop-shadow {
  border-radius: 8px;
  border-width: 1px !important;
  border-style: solid;
  border-color: rgba(1, 1, 1, 0.1);
  padding: 5px;
  box-shadow: 10px 10px 5px rgba(1, 1, 1, 0.1);
  margin-bottom: 20px;
}

.markdown-content {
  padding: 1.0em;
}

.markdown-content h1 {
  margin-top: 1em;
  font-size: 1.6em;
  font-weight: 600;
}

.markdown-content h2 {
  margin-top: 1em;
  font-size: 1.4em;
  font-weight: 600;
}

.markdown-content h3 {
  margin-top: 1em;
  font-size: 1.2em;
  font-weight: 600;
}

.markdown-content h4 {
  margin-top: 1em;
  font-size: 1em;
  font-weight: 600;
}

.markdown-content p {
  margin-top: 1em;
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 10px;
}

.markdown-content ul {
  padding-left: 20px;
}

.markdown-content li {
  margin-top: 1em;
  margin-bottom: 5px;
}

.horizontal-text {
  font-size: .8em;
  color: lightgray;
  position: absolute;
  top: -0.6em;
  left: -0.2em;
  padding: 2px;
  border-radius: 5px;
  font-style: italic;
  pointer-events: none;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: .8em;
  color: lightGray;
  position: absolute;
  left: -0.5em;
  padding: 1px;
  letter-spacing: -3px;
  font-style: italic;
  border-radius: 5px;
  pointer-events: none;
}

.dateScroller {
  width: 100%;
  min-height: 50px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 1em;
  padding: 0;
  /*border: 1px solid lightgreen;*/
  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;
}

.dateScrollerCursor {
  position: absolute;
  pointer-events: none;
}

.grab-cursor {
  cursor: grab; 
}
.grab-cursor:active {
  cursor: grabbing; 
}
